<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Introduction</td> </tr>
      <tr> <td>9:45</td>  <td>Intro to SQL</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td>SQL</td> </tr>
      <tr> <td>11:50</td>  <td>Wrap Up and Feedback</td> </tr>
      <tr> <td>12:00</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>SQL</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td>The Unix Shell</td> </tr>
      <tr> <td>11:50</td>  <td>Wrap Up and Feedback</td> </tr>
      <tr> <td>12:00</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Unix Shell</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td>Unix Shell</td> </tr>
      <tr> <td>11:50</td>  <td>Wrap Up and Feedback</td> </tr>
      <tr> <td>12:00</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Python</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td>Python</td> </tr>
      <tr> <td>11:50</td>  <td>Wrap Up and Feedback</td> </tr>
      <tr> <td>12:00</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 5</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Python</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td>Python</td> </tr>
      <tr> <td>11:50</td>  <td>Wrap Up and Feedback</td> </tr>
      <tr> <td>12:00</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
    </table>
  </div>
</div>
