<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-sql">Introduction to SQL</h3>
    <ul>
      <li>Introduction to SQL</li>
      <li>Selecting and sorting data</li>
      <li>Filtering, Ordering and Commenting</li>
      <li>Aggregating & calculating values</li>
      <li>Joins and Aliases</li>
      <li>Saving queries</li>
      <li><a href="https://librarycarpentry.org/lc-sql/reference.html">Reference...</a></li>
    </ul>
  </div>

<div class="row">
  <div class="col-md-6">
    <ul>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <ul>
      </ul>
    </div>
  </div>
</div>
